<%= form_with(model: symptom) do |form|%>
  <% if symptom.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(symptom.errors.count, "error") %> prohibited this symptom from being saved:</h2>

      <ul>
        <% symptom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="col-md-8 mx-auto pb-5 bg-light">
      <header class="text-center py-3 w-100 medication px-4 text-light d-flex justify-content-between">
      <p class="mb-0"> <%= link_to '<i class="text-white fa-solid fa-arrow-left"></i>'.html_safe, entries_index_path %></p>
      <div class="mb-0 mx-auto d-flex align-items-center text-white">
        <%= svg_tag "Symptom"%>
         <h4> Symptom</h4>
      </div>
      </header>
      <div class="px-4 pb-4 pt-4 d-flex flex-column flex-md-row justify-content-md-between">
        <div class="flex-child-cont px-5">
          <div class="d-flex justify-content-between">
            <div class="d-block">
              <%= form.label :date, style: "display: block", class: "mb-2" %>
              <%= form.date_field :date, class: "w-100 rounded py-2 py-md-3 border px-2" %>
            </div>
            <div class="d-block">
              <%= form.label :time, style: "display: block", class: "mb-2" %>
              <%= form.time_field :time, class: "rounded py-2 py-md-3 border px-2" %>
            </div>
          </div>

          <h5 class="mt-5">Drag the sliders to indicate the intensity</h5>
            <div class="">
              <% Symptom::INTENSITY.each do |key| %>
                <div class="d-flex justify-content-center justify-content-md-end gap-4 mt-4 me-4">
                  <%= form.label key, class: "form-label"%>
                  <%#= form.check_box :intensity, { multiple: true, checked: form.object.intensity&.include?(key.to_s) }, key, nil %>
                  <%= range_field(:intensity, key, {multiple: true, class: "form-range", min:0, max:5, step:1, value:0}) %>
                </div>
              <% end %>
              <div class="col-12 col-md-5">
                <%= form.label :comment, class: "mb-2 rounded" %>
                <%= form.text_area :comment, cols:50, rows:5, class: "rounded" %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div>
      <%= form.submit "Save", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>