<div id="<%= dom_id symptom %>">
  <p>
    <strong>Name:</strong>
    <%= symptom.name %>
  </p>

  <p>
    <strong>Intensity:</strong>
    <%= symptom.intensity %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= symptom.time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= symptom.date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= symptom.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= symptom.user_id %>
  </p>

</div>
