  <div class="sign-head">
    <%= render "layouts/menu_bar" %>
    <div class='d-flex gap-2 mx-5 gap-md-4 justify-content-between'>
      <div class="d-flex align-items-center">
        <%= svg_tag 'Timeline_Selected', class: "timeline" %>
        <%= link_to 'Timeline', symptoms_path, class: "time-insight py-3" %>
      </div>
      <div class="d-flex align-items-center">
        <%= svg_tag 'Insights_Selected', class: "timeline" %>
        <%= link_to 'Insight', entries_insight_path, class: "time-insight py-3" %>
      </div>
    </div>
  </div>

  <div class="position-relative">
    <div id="symptoms">
      <% @symptoms.each do |symptom| %>
        <%= render symptom %>
      <% end %>
      <%= link_to 'Add Symptom', new_symptom_path %>
      <%= link_to (svg_tag "save_plus"), entries_index_path, class: "add" %>
    </div>
  </div>

<%#= line_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>

