<div id="<%= dom_id mood %>">
  <p>
    <strong>Name:</strong>
    <%= mood.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= mood.comment %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= mood.time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= mood.date %>
  </p>

  <p>
    <strong>Symptom:</strong>
    <%= mood.symptom_id %>
  </p>

</div>
