<div class="position-relative">
 <p style="color: green"><%= notice %></p>

  <%= render @mood %>

  <div class="position-absolute action-btn">
    <%= link_to "Edit this mood", edit_mood_path(@mood) %> |
    <%= link_to "Back to moods", moods_path %>

    <%= button_to "Delete this mood", @mood, method: :delete, class:"btn btn-primary" %>
  </div>
</div>
