<div class="position-relative">
 <p style="color: green"><%= notice %></p>

  <%= render @mood %>

  <div class="position-absolute action-btn d-flex justify-content-between">
    <%= link_to '<i class="fa-solid fa-pencil mr-2"></i>'.html_safe, edit_mood_path(@mood) %>
     <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, mood_path(@mood), method: :delete, data: { confirm: 'Are you sure?' } %>
     <%= link_to '<i class="fa-solid fa-arrow-rotate-left"></i>'.html_safe, moods_path(@mood) %>

    <%#= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, edit_mood_path(@mood) %>
    
  </div>
</div>
