<div id="<%= dom_id drink %>">
  <p>
    <strong>Name:</strong>
    <%= drink.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= drink.comment %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= drink.time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= drink.date %>
  </p>

  <p>
    <strong>Symptom:</strong>
    <%= drink.symptom_id %>
  </p>

</div>
