<div id="<%= dom_id drink %>">
  <%= form_with(model: drink) do |form|%>
    <% if drink.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

        <ul>
          <% drink.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="position-relative">
      <div class="col-md-8 mx-auto mt-5 pb-5 bg-light">
        <header class="text-center py-3 w-100 medication px-4 text-light d-flex justify-content-between">
        <p class="mb-0"> <%= link_to '<i class="text-white fa-solid fa-arrow-left"></i>'.html_safe, drinks_path %></p>
        <p class="mb-0 mx-auto d-flex text-white">
            <%= svg_tag "Drink"%>
            Drink
        </p>
        </header>
        <div class="px-4 pb-4 pt-4 d-flex flex-column flex-md-row justify-content-md-between">
          <div class="flex-child-cont px-5">
            <div class="d-flex justify-content-between">
              <div class="d-block">
                <%= form.label :date, style: "display: block", class: "mb-2" %>
                <%= form.date_field :date, class: "w-100 rounded py-2 py-md-3 border px-2" %>
              </div>
              <div class="d-block">
                <%= form.label :time, style: "display: block", class: "mb-2" %>
                <%= form.time_field :time, class: "rounded py-2 py-md-3 border px-2" %>
              </div>
      
            </div>

            <h5 class="mt-5">Add Drink</h5>
            <div class="mt-3">
              <div class="align-items-center my-3">
                <%= form.label :name, class: "mb-2" %>
                <%= form.text_field :name, class: "form-control" %>
              <div class="d-flex align-items-center mb-3">
              </div>
            </div>
          </div>
          <div class="mt-5">
            <%= form.label :comment, class: "mb-2 rounded" %>
            <%= form.text_area :comment, rows:5, class: "form-control rounded w-100" %>
          </div>

          <div class="position-absolute ">
            <%= form.submit %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
