<div class="position-relative">
  <p style="color: green"><%= notice %></p>

  <%= render @drink %>

  <div class="position-absolute action-btn">
    <%= link_to "Edit this drink", edit_drink_path(@drink) %> |
    <%= link_to "Back to drinks", drinks_path %>

    <%= button_to "Delete this drink", @drink, method: :delete, class:"btn btn-primary" %>
  </div>
</div>