<div class="position-relative" data-target="view.timeline">
  <div class="sign-head">
    <%= render "layouts/menu_bar" %>
      <div class='d-flex gap-2 gap-md-4 justify-content-between'>
        <div class="d-flex align-items-center active-link w-50 active">
          <%= svg_tag 'Timeline_Selected', class: "timeline" %>
          <%= link_to 'Timeline', timeline_path, data: { controller: "view", action: "click->view#showTimeline" }, class: "time-insight py-3" %>
        </div>
        <div class="d-flex align-items-center active-rink">
          <%= svg_tag 'Insights_Selected', class: "timeline" %>
          <%= link_to 'Insight', symptom_analysis_path,  data: { controller: "view", action: "click->view#showAnalysis" }, class: "time-insight py-3" %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to '<i class="text-white fa-solid fa-plus"></i>'.html_safe, _index_path, class: "go-to-entries position-fixed border-0"%>
</div>

<div class="mx-5">
  <% @items.each do |item| %>
    <% if item.is_a?(Symptom) %>
      <div class ="syptom_div">
        <div class ="symptom_data">
          <section class="gradient-custom-5">
            <div class="container">
              <div class="main-timeline-5">
                <div class="timeline-5 right-5">
                  <div class="">
                    <div class="card-body hoverWrapper">
                      <%= svg_tag "Symptom", class: "show-icon"%>
                      <div class="d-flex align-items-center">
                        <h6 class="datetime text-dark">Symptom</h6>
                        <%= button_to '<i class="fa-solid mx-2 fa-trash"></i>'.html_safe, symptom_path(item), class:'delete', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                      </div>
                      <% @sympton_name.each do |name| %>
                      <p class="item-name"><%= name %></p>
                      <% end %>
                      <article class="d-flex flex-column align-items-center position-absolute datetime">
                        <p class="item-name"><%= item.time.strftime("%I:%M%p") %></p>
                      </article>
                      <p class="mt-2 mb-0"><%= item.comment %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% elsif item.is_a?(Food) %>
      <div class ="syptom_div">
        <div class ="symptom_data">
          <section class="gradient-custom-5">
            <div class="container">
              <div class="main-timeline-5">
                <div class="timeline-5 right-5">
                  <div class="">
                    <div class="card-body hoverWrapper">
                      <%= svg_tag "Food", class: "show-icon"%>
                      <div class="d-flex align-items-center">
                        <h6 class="datetime text-dark">Food</h6>
                        <%= button_to '<i class="fa-solid mx-2 fa-trash"></i>'.html_safe, food_path(item), class:'delete', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                      </div>
                      <p class="item-name"><%= item.name %></p>
                      <article class="d-flex flex-column align-items-center position-absolute datetime">
                        <p class="item-name"><%= item.time.strftime("%I:%M%p") %></p>
                      </article>
                      <p class="mt-2 mb-0"><%= item.comment %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% elsif item.is_a?(Drink) %>
      <div class ="syptom_div">
        <div class ="symptom_data">
          <section class="gradient-custom-5">
            <div class="container">
              <div class="main-timeline-5">
                <div class="timeline-5 right-5">
                  <div class="">
                    <div class="card-body hoverWrapper">
                      <%= svg_tag "Drink", class: "show-icon"%>
                      <div class="d-flex align-items-center">
                        <h6 class="datetime text-dark">Drink</h6>
                        <%= button_to '<i class="fa-solid mx-2  fa-trash"></i>'.html_safe, drink_path(item), class:'delete', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                      </div>
                      <p class="item-name"><%= item.name %></p>
                      <article class="position-absolute flex-column datetime d-flex align-items-center">
                        <div><%#= item.date.to_formatted_s(:rfc822) %></div>
                        <p class="item-name"><%= item.time.strftime("%I:%M%p") %></p>
                      </article>
                      <p class="mt-2 mb-0"><%= item.comment %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% elsif item.is_a?(Medication) %>
      <div class ="syptom_div">
        <div class ="symptom_data">
          <section class="gradient-custom-5">
            <div class="container">
              <div class="main-timeline-5">
                <div class="timeline-5 right-5">
                  <div class="">
                    <div class="card-body hoverWrapper">
                      <%= svg_tag "Medication", class: "show-icon"%>
                      <div class="d-flex align-items-center">
                        <h6 class="datetime text-dark">Medication</h6>
                        <%= button_to '<i class="fa-solid mx-2  fa-trash"></i>'.html_safe, medication_path(item), class:'delete', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                      </div>
                      <p class="item-name"><%= item.name %></p>
                      <article class="position-absolute flex-column datetime d-flex align-items-center">
                        <p class="item-name"><%= item.time.strftime("%I:%M%p") %></p>
                      </article>
                      <p class="mt-2 mb-0"><%= item.comment %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% elsif item.is_a?(Mood) %>
      <div class ="syptom_div">
        <div class ="symptom_data">
          <section class="gradient-custom-5">
            <div class="container">
              <div class="main-timeline-5">
                <div class="timeline-5 right-5">
                  <div class="">
                    <div class="card-body hoverWrapper">
                      <%= svg_tag "Mood", class: "show-icon"%>
                      <div class="d-flex align-items-center">
                        <h6 class="datetime text-dark">Mood</h6>
                        <%= button_to '<i class="fa-solid mx-2  fa-trash"></i>'.html_safe, mood_path(item), class:'delete', method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
                      </div>
                      <p class="item-name"><%= item.mood %></p>
                      <article class="position-absolute flex-column datetime d-flex align-items-center">
                        <p class="item-name"><%= item.time.strftime("%I:%M%p") %></p>
                      </article>
                      <p class="mt-2 mb-0"><%= item.comment %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% end %>   
  <% end %>
</div>