<section class="gradient-custom-5">
  <div class="container">
    <div class="main-timeline-5">
      <div class="timeline-5 right-5">
        <div class="">
          <div class="card-body p-4">
            <h5><%= medication.name %></h5>
            <span class="small text-muted"><i class="fas fa-clock me-1"></i><%= medication.date.strftime("%F") %>|<%= medication.time.strftime("%H:%M") %></span>
            <p class="mt-2 mb-0"><%= medication.comment %></p>
            <%= link_to "Show this medication", medication %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

