<div id="<%= dom_id medication %>">
  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= medication.comment %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= medication.time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= medication.date %>
  </p>

  <p>
    <strong>Symptom:</strong>
    <%= medication.symptom_id %>
  </p>

</div>
