<div class="position-relative">
  <p style="color: green"><%= notice %></p>

  <%= render @medication %>

  <div class="position-absolute action-btn">
    <%= link_to "Edit this medication", edit_medication_path(@medication) %> |
    <%= link_to "Back to medications", medications_path %>

    <%= button_to "Delete this medication", @medication, method: :delete, class:"btn btn-primary" %>
  </div>
</div>
