<div class="position-relative">
  <p style="color: green"><%= notice %></p>

  <%= render @medication %>

  <div class="position-absolute action-btn d-flex justify-content-between">
<%= link_to '<i class="fa-solid fa-pencil mr-2"></i>'.html_safe, edit_medication_path(@medication) %>
    <%= button_to @medication, method: :delete, class:"" do %>
      <i class="fa-regular fa-trash-can mr-2"></i>
    <% end %><%= link_to '<i class="fa-solid fa-arrow-rotate-left"></i>'.html_safe, medications_path(@medication) %>
  </div>
</div>
