<div class='navbar w-100 bg-light'>
  <div class='container d-flex justify-content-between align-items-center'>
    <div>
        <%= link_to (svg_tag "Logo"),root_path, class: "logo"%>
    </div>
    <nav class="">
      <div class="">
        <div class="d-flex gap-2 gap-md-4 justify-content-between align-items-center">
          <% if current_user %>
            <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: "login text-dark" %>
            <%= link_to 'Get Started', timelines_index_path, class: "get-start" %>
          <% else %>
            <%= link_to 'Sign in', user_session_path, class: "login" %>
          <% end %>
        </div>
      </div>
        <% if notice.present? %>
          <div class="notice">
            <p class="bg-warning text-center text-white"> <%= notice %> </p>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert">
            <p class="bg-danger text-center text-white"> <%= alert %> </p>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</div>
